<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>theSpaces.</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.256327101756-38oijkspvnnavts4t2cv6erpk9l0lr58</string>
				<string>com.googleusercontent.apps.256327101756-k867a08jong5onu2bkiobhtcfhdepggh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spaces</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIPHYAPIKey</key>
	<string>cU46HvRBxilvqYCWc451UvU3BEx3otc3</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Spaces needs calendar access so you can add Space events to your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Spaces needs calendar access so you can add Space events to your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Spaces uses the camera so you can share photos and videos in conversations.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Spaces uses the microphone when you record a video to share in a conversation.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Spaces needs permission to save shared photos to your photo library.</string>
	<key>SpacesAnnouncementReleaseChannel</key>
	<string>$(ANNOUNCEMENT_RELEASE_CHANNEL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>firebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
